body {
  font-family: 'Cabin', sans-serif;
  margin: 1;
  background-color: #ffffff;
  overflow-y: hidden;
}

div {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

#addNew {
    display: table-cell;
    vertical-align: middle;
    
}

#mainDiv {
  float:left;
  padding-left: 35px;
  height: calc(100% - 32px);
  width: 70%;
  overflow-y: hidden;
}

#quesCard {
  border: #000000;
  border-width: 5px;
}

#questioninput {
  width: 700px;
}