
<head>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
{% extends "base.html" %}
{% block content %}
<div class=mainDiv>
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.questioncount.label }}<br>
        {{ form.questioncount(size=10) }}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}


<!--that stuff is needed-->
<!-- make a template page for survey creation, I'll link it up on the backend-- ok, here? >
<!-- ye, keep the question count thing i added idk how it works, imma take a copy offline and run it-->
<!-- aight || discord-->