<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<body>
    </div>
    <!--http://localhost:5000/lslct -->
    <form action="/alogin" method="post">

        <button type="submit" class="btn btn-primary" name="user" value="admin">Admin Login</button>
    </form>
    <form action="/survey" method="post">
    <button type="submit" class="btn btn-primary" name="user" value="participant">Applicant Login</button>
    </form>
</body>

</html>