<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<form action="" method="POST">

  <div class="age-check">
    <!-- Gender -->
    <label>1) { question | safe }</label><br>

    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Yes</label><br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">No</label><br>

    <h1></h1>
    <h1></h1>
    <h1></h1>

  </div>

  <div>
    
  </div>
<button type="submit" class="btn btn-primary" name="submit" value="submit">Next</button>
</form>